@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}